@use '../abstracts' as abs;

.btn{
  &_default-style{
    width: 100px;
    height: 35px;
    background-color: abs.$clr-green-900;
    color: abs.$clr-white;
    font-size: var(--fs-h2);
    border: transparent;
    border-radius: 4px;
    transition: 0.4s;
  }

  &_reset-style{
    width: 100%;
    height: 40px;
    background-color: abs.$clr-primary;
    color: abs.$clr-green-900;
    font-size: var(--fs-h2);
    font-weight: bold;
    border: transparent;
    border-radius: 4px;

    &:hover{
      cursor: pointer;
      background-color: abs.$clr-grey-200;
    }

  &:disabled{
    cursor: not-allowed;
    background-color: abs.$clr-grey-400;
    color: abs.$clr-green-900;
  }

  }
  &:hover,
  &:focus{
    cursor: pointer;
    background-color: abs.$clr-primary;
  }
}

.input-style{
  text-align: right;
  background-color: abs.$clr-grey-50;
  font-size: var(--fs-h2);
  font-weight: bold;
  border: transparent;
  padding: 0.3rem;

  &:focus{
    outline : 2px solid abs.$clr-primary;
    color: abs.$clr-green-900;
  }

  &:hover{
    cursor: pointer;
    background-color: abs.$clr-primary;
  }

  &::placeholder{
    text-align: center;
    color: abs.$clr-grey-500;
  }
}

@include abs.respond('tablet') {

}

@include abs.respond('desktop') {

}