@use "../abstracts" as var;



.container-input-todo {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--bg-container-color);
  border-radius: 6px;
}

  .circle{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 14px;
    top:12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--border-color);
    background-color: var(--bg-container-color);
    transition: all 0.2s ease;
  }
  .input{
    position: absolute;
    left: 60px;
    width: 100%;
    height: 100%;
    color: var(--text-todo-color);
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder{
      font-weight: 400;
      color: var(--text-color);
    }
  }

.todo-list-container{
  width: 100%;
  height: auto;
  background-color: var(--bg-container-color);
  border-radius: 6px;
}

.description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  .remaining-todo{
    font-size: var(--fs-label);
    font-weight: 400;
    color: var(--text-color)
  }

  .btn-clear{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    text-decoration: none;
    transition: transform 0.1s ease-out;

    &:active {
      transform: scale(0.95);
      transition-duration: 0.05s;
    }
  }

}

.navigation{
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;

  a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    &:focus{
      color: var.$clr-primary;
    }
    &:hover{
      color: var(--btn-bg-color);
    }
  }
  &_mobile{
    font-size: var(--fs-label);
    width: 100%;
    height: 50px;
    padding: 12px;
    border-radius: 6px;
    align-items: center;
    background-color: var(--bg-container-color);
  }

  &_dekstop{
    display: none;
    font-size: var(--fs-label);
  }
}

.info-text{
  color: var(--text-color);
  font-size: var(--fs-label);
  font-weight: 400;
}


@include var.respond('tablet') {
  .navigation{
    &_mobile{
      display: none;
    }
    &_dekstop{
      display: flex;
    }
  }
}
