@use '../abstracts' as abs;


.calculator{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  background-color: abs.$clr-white;
  padding: 1.5em;
  gap: 1.5rem;
}

.tip-container{
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bill-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-tip-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.tip-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.bill-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-container{
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  background-color: abs.$clr-green-900;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.5em;
  border-radius: 10px;

  &_align-item{
    margin-top: auto;
  }
}

.description{
 display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  &_tip-amount{
    color: abs.$clr-white;
    font-weight: bold;
  }

  &_person{
    font-size: var(--fs-label);
    font-weight: bold;
  }

  &_filter-color{
      width: 15px;
      height: auto;
      filter: invert(58%) sepia(94%) saturate(321%) hue-rotate(122deg) brightness(88%) contrast(97%);
  }

  &_total-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    color: abs.$clr-primary;
    font-size: var(--fs-h1);
    font-weight: bold;
    }
}


@include abs.respond('tablet') {
  .calculator{
    grid-template-columns: 1fr 1fr;
  }

  .tip-container{
    grid-row: 1;
    grid-column: 1;
  }

  .info-container{
    grid-row: 1;
    grid-column: 2;
  }
}
