@use '../abstracts' as var;

.main-container {
  position: relative;
  padding-top: 2.8rem;
  border-radius: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top -10px right 1rem;

  &_work { background-color: var.$clr-orange-300; background-image: url("/images/icon-work.svg"); }
  &_play { background-color: var.$clr-blue-300; background-image: url("/images/icon-play.svg"); }
  &_study { background-color: var.$clr-pink-400; background-image: url("/images/icon-study.svg"); }
  &_exercise { background-color: var.$clr-green-400; background-image: url("/images/icon-exercise.svg"); }
  &_social { background-color: var.$clr-purple-700; background-image: url("/images/icon-social.svg"); }
  &_self-care { background-color: var.$clr-yellow-300; background-image: url("/images/icon-self-care.svg"); }
}

.info-card {
  background-color: var.$clr-navy-900;
  border-radius: 15px;
  padding: 1.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  height: 100%;

  &:hover {
    background-color: var.$clr-navy-100;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    h2 {
      font-size: var(--fs-h2);
      font-weight: 500;
      color: white;
    }

    .dot-btn {
      color: var.$clr-navy-200;
      font-size: var(--fs-body);
      cursor: pointer;
      background: transparent;
      border: none;

      &:hover {
        color: white;
      }
    }
  }

  .card-time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include var.respond('desktop') {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      margin-top: 1.5rem;
    }

    .current-hours {
      font-size: var(--fs-h2);
      font-weight: 300;
      color: white;

      @include var.respond('desktop') {
        font-size: var(--fs-h1);
      }
    }

    .previous-hours {
      font-size: var(--fs-label);
      color: var.$clr-purple-500;
    }
  }
}

.dot-menu-wrapper {
  position: relative;
  .dot-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;

    &:hover {
      filter: brightness(1.5);
    }
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 10;
    display: none;
    min-width: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

    // Class ini akan di-toggle oleh JS
    &.is-active {
      display: block;
    }

    button {
      display: block;
      width: 100%;
      background: none;
      border: none;
      color: white;
      text-align: left;
      padding: 5px 10px;
      font-size: var(--fs-label);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}