@use '../abstracts' as var;

.main-container{
  width: 100%;
  height: auto;
  background-position: top -5px right 15px;
  background-repeat: no-repeat;
  background-size: 60px;
  border-radius: 0.75em;
  &_work{
      background-color: var.$clr-orange-300;
      background-image: url("/images/icon-work.svg");
    }
  &_play{
      background-color: var.$clr-blue-300;
      background-image: url("/images/icon-play.svg");
    }
  &_study{
       background-color: var.$clr-pink-400;
       background-image: url("/images/icon-study.svg");
     }
  &_exercise{
        background-color: var.$clr-green-400;
        background-image: url("/images/icon-exercise.svg");
      }
  &_social{
         background-color: var.$clr-purple-500;
         background-image: url("/images/icon-social.svg");
       }
  &_self-care{
          background-color: var.$clr-yellow-300;
          background-image: url("/images/icon-self-care.svg");
        }
}

.container{
  width: auto;
  height: auto;
  background-color: var.$clr-navy-900;
  position: relative;
  top: 35px;
  border-radius: 0.75em;
}

