@use '../abstracts' as var;

.profile-card {
  background-color: var.$clr-navy-900;
  border-radius: 15px;
  overflow: hidden;

  @include var.respond('desktop') {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
  }

  &__header {
    background-color: var.$clr-primary;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @include var.respond('desktop') {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 5rem;
      gap: 2.5rem;
    }

    img {
      width: 70px;
      height: 70px;
      border: 3px solid white;
      border-radius: 50%;

      @include var.respond('desktop') {
        width: 84px;
        height: 84px;
      }
    }

    .user-info {
      p {
        font-size: var(--fs-body);
        color: var.$clr-navy-200;
        margin-bottom: 0.25rem;
      }

      h1 {
        font-size: var(--fs-h2);
        font-weight: 300;
        color: white;

        @include var.respond('desktop') {
          font-size: var(--fs-h1)m; // 40px
          line-height: 1.2;
        }
      }
    }
  }

  &__nav {
    padding: 1.5rem 2rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include var.respond('desktop') {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
      }

      li {
        a {
          cursor: pointer;
          font-size: var(--fs-body);
          color: var.$clr-purple-500;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover,
          &.active {
            color: white;
          }
        }
      }
    }
  }
}