$font-family-main: "Poppins", sans-serif;
$font-weight-bold: 700;

$clr-purple-500: hsl(259, 100%, 65%);
$clr-red-400: hsl(0, 100%, 67%);
$clr-grey-500: hsl(0, 1%, 44%);
$clr-grey-200: hsl(0, 0%, 86%);
$clr-grey-100: hsl(0, 0%, 94%);
$clr-white: hsl(0, 100%, 100%);
$clr-black: hsl(0, 0%, 0%);

$breakpoints: (
        "tablet": 768px,
        "desktop": 1024px,
        "desktop-large": 1440px
);