$font-family-main: "Josefin Sans", sans-serif;
$font-weight-light: 400;
$font-weight-bold: 700;

$clr-primary: hsl(220, 98%, 61%);
$clr-checkBg: hsl(192, 100%, 67%), hsl(280, 87%, 65%);
$clr-gray-50: hsl(0, 0%, 98%);

$light-bg: hsl(234, 39%, 85%);
$light-bg-container: hsl(0, 0%, 98%);
$light-text: hsl(236, 9%, 61%);
$light-todo-text: hsl(235, 19%, 35%);
$light-border: hsl(233, 11%, 84%);
$light-button-bg: hsl(235, 19%, 35%);


$dark-bg: hsl(235, 24%, 19%);
$dark-bg-container: hsl(233, 14%, 35%);
$dark-text: hsl(236, 9%, 61%);
$dark-todo-text: hsl(236, 33%, 92%);
$dark-border: hsl(234, 39%, 85%);
$dark-button-bg: hsl(236, 33%, 92%);


$breakpoints: (
        "tablet": 768px,
        "desktop": 1024px,
        "desktop-large": 1440px
);